<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZP Consultoria Acâdemica</title>

    <link rel="stylesheet" href="styles/global.css">
    {% block styles %}
    {% endblock styles %}
</head>
<body>
    <div id="content">
        {% include "partials/page-header.html" %}

        {% block main %}
        {% endblock main %}

        {% include "partials/page-footer.html" %}
    </div>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>