{% extends "layout.html" %}

{% block styles %}
    <link rel="stylesheet" href="styles/quemSomos.css">
{% endblock styles %}

{% block main %}
    <main>
        <h1>Talvez algum texto</h1>
        
        <div class="profile">
            <img src="/assets/ingrid.webp" alt="Ingrid">
            <div class="desc">
                <h2>INGRID ZAHLOUTH</h2>
                <p>
                    Graduação em Biblioteconomia pela Universidade Federal do Pará
                     (UFPA). Especialista em Gestão de Bibliotecas Públicas. 
                     Bibliotecária-Documentalista da Universidade Federal do 
                     Pará (UFPA) e consultora na área de Biblioteconomia, 
                     atuando principalmente em organização de acervos, 
                     normalização de documentos (ABNT, APA e Vancouver), 
                     elaboração de manuais de procedimentos, pesquisas
                      bibliográficas especializadas em bases de dados nacionais e 
                      internacionais e catalogação com entrada de dados 
                      pelo formato MARC21. Tem experiência na área de Ciência da 
                      Informação, com ênfase em Biblioteconomia.
                </p>
            </div>
        </div>
            
        <div class="profile">
            <img src="/assets/rodrigo.jpeg" alt="Rodrigo">
            <div class="desc">
                <h2>RODRIGO PAIVA</h2>
                <p>
                    Possui graduação em Biblioteconomia pela Universidade Federal
                        do Pará (2013) e Mestrado em Ciência da Informação pelo PPGCI
                      - UFPA (2020). Possui experiência nas áreas de metodologia 
                      da pesquisa científica, tratamento técnico de materiais 
                      informacionais e repositórios digitais. 
                      Tem interesse de pesquisa na área de comunicação científica. 
                      Atualmente exerce o cargo de Técnico do Ministério da Ciência,
                      Tecnologia, Inovações e Comunicações, lotado no Serviço 
                      de Biblioteca do Museu Paraense Emílio Goeldi.
                </p>
            </div>
        </div>
    </main>
{% endblock main %}
