main{
    height: 900px;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 24px;

    background: url(../assets/background.jpg) no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h1{
    color: #33ccff;
    font-size: 64px;
    text-shadow: 3px 3px black;

    padding: 10px;
}

main p{
    color: blanchedalmond;
    text-shadow: 3px 3px black;
    font-size: 32px;
    line-height: 32px;

    padding: 10px;
    margin-top: 24px;
}